#-----------------------------------------------------------------------------
#
#  Konfiguration for test map
#
#  /etc/tirex/renderer/test/checkerboard.conf
#
#-----------------------------------------------------------------------------

#-----------------------------------------------------------------------------
#  General configuration
#-----------------------------------------------------------------------------

#  symbolic name of this map
name=test

#  tile directory
tiledir=/var/cache/tirex/tiles/test

#  minimum zoom level allowed (default 0)
#minz=0

#  maximum zoom level allowed (default 17)
maxz=10

#-----------------------------------------------------------------------------
#  Backend specific configuration
#-----------------------------------------------------------------------------

#  time the renderer should sleep to simulate rendering time (default is 0)
#sleep=0


#-- THE END ------------------------------------------------------------------
