Source: tirex
Maintainer: Debian GIS Project <pkg-grass-devel@lists.alioth.debian.org>
Uploaders: Felix Delattre <debian@xama.nu>
Section: science
Priority: optional
Build-Depends: debhelper (>= 10~),
               dh-apache2,
               libboost-program-options-dev,
               libmapnik-dev,
Standards-Version: 4.5.1
Vcs-Browser: https://salsa.debian.org/debian-gis-team/libapache2-mod-tile
Vcs-Git: https://salsa.debian.org/debian-gis-team/tirex.git
Homepage: http://wiki.openstreetmap.org/wiki/Tirex

Package: tirex
Section: utils
Architecture: any
Depends: adduser,
         libapache2-mod-tile,
         libgd-gd2-perl,
         libjson-perl,
         libipc-sharelite-perl,
         ${misc:Depends},
         ${perl:Depends},
         ${shlibs:Depends},
Recommends: tirex-backend-mapnik,
            ${misc:Recommends}
Description: Daemon that renders raster map tile using different backends
 The Tirex suite of programs manages map raster tile rendering and caching.
 This package contains the master daemon, rendering manager, test backend,
 and assorted utility programs.
 .
 This package contains the core piece of tirex.

Package: tirex-backend-mapnik
Section: utils
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         tirex,
Description: Mapnik backend for the Tirex raster tile rendering system
 The Tirex suite of programs manages taster map tile rendering and caching.
 This is the Mapnik backend for creating maps with the Mapnik renderer.
 .
 This package contains the backend connection with a Mapnik server
