#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#DH_VERBOSE=1

# Enable hardening build flags
export DEB_BUILD_MAINT_OPTIONS=hardening=+all

%:
	dh $@ --with apache2

override_dh_auto_install:
	dh_auto_install --destdir=debian/tmp -- install-all

.PHONY: templates
