#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#DH_VERBOSE=1

# Enable hardening build flags
export DEB_BUILD_MAINT_OPTIONS=hardening=+all

%:
	dh $@ --with apache2

execute_after_dh_installsystemd:
	dh_installsystemd -ptirex --name tirex-master
	dh_installsystemd -ptirex --name tirex-backend-manager

.PHONY: templates
