[Unit]
Description=Master process of tirex rendering system
Documentation=man:tirex-master
After=network.target auditd.service
Before=apache2.service

[Service]
ExecStart=/usr/bin/tirex-master -f
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
User=_tirex
Group=_tirex

[Install]
WantedBy=multi-user.target
