[Unit]
Description=Tirex sync daemon
Documentation=man:tirex-syncd
After=network.target auditd.service tirex-master.service

[Service]
ExecStart=/usr/bin/tirex-syncd
KillMode=process
Restart=on-failure
User=_tirex
Group=_tirex
RuntimeDirectory=tirex
