#-----------------------------------------------------------------------------
#
#  Konfiguration for Test renderer
#
#  /etc/tirex/renderer/test.conf
#
#-----------------------------------------------------------------------------

#-----------------------------------------------------------------------------
#  general configuration
#-----------------------------------------------------------------------------

# symbolic name
name=test

# path to executable of renderer
path=/usr/lib/tirex/backends/test

# UDP port where the master can contact this renderer
port=9330

# number of processes that should be started
procs=2

# syslog facility
syslog_facility=local0

# activate this to see debug messages from renderer
#debug=1

#-----------------------------------------------------------------------------
#  renderer specific configuration
#-----------------------------------------------------------------------------

# none

#-- THE END ------------------------------------------------------------------
