#-----------------------------------------------------------------------------
#
#  Konfiguration for WMS renderer
#
#  /etc/tirex/renderer/wms.conf
#
#-----------------------------------------------------------------------------

#-----------------------------------------------------------------------------
#  general configuration
#-----------------------------------------------------------------------------

# symbolic name
name=wms

# path to executable of renderer
path=/usr/lib/tirex/backends/wms

# UDP port where the master can contact this renderer
port=9332

# number of processes that should be started
procs=2

# syslog facility
syslog_facility=local0

# activate this to see debug messages from renderer
#debug=1

#-----------------------------------------------------------------------------
#  renderer specific configuration
#-----------------------------------------------------------------------------

# none

#-- THE END ------------------------------------------------------------------
